.bg-gray-100 {
  background-color: $gray-100 !important;
}

.bg-gray-200 {
  background-color: $gray-200 !important;
}

.bg-gray-300 {
  background-color: $gray-300 !important;
}

.bg-gray-400 {
  background-color: $gray-400 !important;
}

.bg-gray-500 {
  background-color: $gray-500 !important;
}

.bg-gray-600 {
  background-color: $gray-600 !important;
}

.bg-gray-700 {
  background-color: $gray-700 !important;
}

.bg-gray-800 {
  background-color: $gray-800 !important;
}

.bg-gray-900 {
  background-color: $gray-900 !important;
}

.text-gray-100 {
  color: $gray-100 !important;
}

.text-gray-200 {
  color: $gray-200 !important;
}

.text-gray-300 {
  color: $gray-300 !important;
}

.text-gray-400 {
  color: $gray-400 !important;
}

.text-gray-500 {
  color: $gray-500 !important;
}

.text-gray-600 {
  color: $gray-600 !important;
}

.text-gray-700 {
  color: $gray-700 !important;
}

.text-gray-800 {
  color: $gray-800 !important;
}

.text-gray-900 {
  color: $gray-900 !important;
}

.border-gray-100 {
  border: 2px solid $gray-100 !important;
}

.border-gray-200 {
  border: 2px solid $gray-200 !important;
}

.border-gray-300 {
  border: 2px solid $gray-300 !important;
}

.border-gray-400 {
  border: 2px solid $gray-400 !important;
}

.border-gray-500 {
  border: 2px solid $gray-500 !important;
}

.border-gray-600 {
  border: 2px solid $gray-600 !important;
}

.border-gray-700 {
  border: 2px solid $gray-700 !important;
}

.border-gray-800 {
  border: 2px solid $gray-800 !important;
}

.border-gray-900 {
  border: 2px solid $gray-900 !important;
}

.bg-danger {
  background-color: $danger !important;
}

.text-danger {
  color: $danger !important;
}

.border-danger {
  border: 2px solid $danger !important;
}

.bg-primary {
  background-color: $primary !important;
}

.text-primary {
  color: $primary !important;
}

.border-primary {
  border: 2px solid $primary !important;
}

.bg-summon {
  background-color: $summon !important;
}

.text-summon {
  color: $summon !important;
}

.border-summon {
  border: 2px solid $summon !important;
}

.bg-rejected {
  background-color: $danger !important;
}

.text-rejected {
  color: $danger !important;
}

.border-rejected {
  border: 2px solid $danger !important;
}

.bg-accepted {
  background-color: $green !important;
}

.text-accepted {
  color: $green !important;
}

.border-accepted {
  border: 2px solid $green !important;
}

.bg-to-wait {
  background-color: $dark-yellow !important;
}

.text-to-wait {
  color: $dark-yellow !important;
}

.border-to-wait {
  border: 2px solid $dark-yellow !important;
}

.bg-primary-light {
  background-color: $primary-light !important;
}

.text-primary-light {
  color: $primary-light !important;
}

.border-primary-light {
  border: 1px solid $primary-light !important;
}

.bg-white {
  background-color: $white !important;
}

.text-white {
  color: $white !important;
}

.border-white {
  border: 2px solid $white !important;
}

.border-card {
  border: 1px solid $card-border-color;
}
